<h2>EQUIPE LIVE</h2>
<div class="container">
  <div class="row d-flex justify-content-center">
      <ngb-carousel>
          <ng-template *ngFor="let image of images" ngbSlide>
            <img src= "http://localhost/api_jj/api-jj/web/uploads/img/{{image.id}}.{{image.url}}" alt="{{ image.name }}" width="600px">
            <div class="carousel-caption">
              <h3>{{image.name}}</h3>
              <p>{{image.content}}</p>
            </div>
          </ng-template>   
      </ngb-carousel>
  </div>
</div>
